* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Nav*/

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 4.7rem;
    margin-bottom: 30px;
    cursor: pointer;
}


/*Container e imagem*/

.container {
    margin: 20px 20px 20px 90px;
    transition: .1s;
}

.background-image img {
    width: 50%;
    object-fit: cover;
    float: right;
}


/*Demais conteúdos*/

.content {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.content > h1 {
    color: #0d0c0c;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.content > h2 {
    color: #2c80d5;
    font-size: 2rem;
}

.content > p {
    max-width: 600px;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 20px;
    color: #000;
}

.content > h3 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
}


/* Seletor de cores*/

.color-select {
    display: flex;
    margin-top: 30px;
}

.color-select > div {
    background: #333;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #56575a;
}

.color-select #midnight {
    background: #2e3641;
}

.color-select #starlight {
    background: #f0e5d3;
    }

.color-select #spacegray {
    background: #7d7e80;
}

.color-select #silver {
    background: #e3e4e6;
}


/*Botão comprar*/

.buy-button {
    background-color: #000;
    color: #fff;
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 30px auto;
    border-radius: 10px;
    cursor: pointer; 
    transition: .3s ; 
}

.buy-button:hover {
    background-color: #444;
}


/*Resposividade*/

@media screen and (max-width: 900px) {
    .container {
        width: 90%;
        margin: auto;
        flex-direction: column;
    }

    nav .logo {
        flex-direction: column;
    }

    .background-image img {
        width: 100%;
        
    }

    .content > h1 {
        font-size: 2rem;
    }

    .content > h2 {
        font-size: 1.5rem;
    }

    .content > p {
        max-width: 90%;
        font-size: 1rem;
    }

    .content > h3 {
        font-size: 20px;
    }

    .color-select {
        align-items: center;
        justify-content: center;
    }

    .buy-button {
        width: 100%;
    }
}
